.idea
.DS_Store
/.env
/Scraper/popular.json
/Scraper/top.json
/top.json
/popular.json
/jsonfile/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/popularGame/node_modules/
